* {
	box-sizing: border-box;
}

body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color: white;
	font-size: 12px;
	background: #333 url(../images/classy_fabric.png);
	width:100%;
}

form {
	background: #111;
	width: 300px;
	margin: 30px auto;
	border-radius: 0.4em;
	border: 1px solid #191919;
	overflow: hidden;
	position: relative;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
	padding-bottom: 20px;
}

#indexForm {
	background: #111;
	width: 50%;
	margin: 30px auto;
	border-radius: 0.4em;
	border: 1px solid #191919;
	overflow: hidden;
	position: relative;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
	padding-bottom: 20px;
}

#peticion{
	padding: 5px 20px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px rgba(255, 255, 255, 0.1);
	border-radius: 0.3em;
	background: #0184ff;
	color: white;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 35px;
	font-weight: bold;
    left: 34%;
    position: absolute;
    
}

#acceso{
	padding: 5px 20px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px rgba(255, 255, 255, 0.1);
	border-radius: 0.3em;
	background: #0184ff;
	color: white;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
    left: 37%;
    position: absolute;
}
			
#nuevaSolicitudForm,#validaSoliditudForm,#realizaTrabajoForm,#gastosImpresora,#consultaInformeForm,#altaSolicitud,#modificaArticuloForm,#informe,#impresorasForm, #cerrarMesForm{
	width: 100%;
}

#consultaSolicitud{
	width: 70%;
	
}

#envioPasswordForm,#cambioPasswordForm,#nuevaPasswordForm{
	width: 50%;
	
}

#globalAutorizadorForm,#detalleAutorizadorForm{
	padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
	width: 100%;
}
#modificaUsuario,#altaDepartamento,#altaSubDepartamento,#modificaDepartamento,#modificaSubDepartamento,#borraSubDepartamento,#borraDepartamento,#borraUsuario,#altaArticulo,#modificaArticuloForm,#borraArticuloForm,#altaImpresoras,#bajaImpresoras,#modificacionImpresoras{
	padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
	width: 900px;
}

#altaUsuario{
		width: 75%;
    	float: right;
    	padding: 20px 20px 20px 20px;
}
#detalleTrabajo {
	width: 900px;
	}
	
a {
	color:white;
	align:left;
}
form:after {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 100px;
	left: 20%;
	background: linear-gradient(to right, #111111, #444444, #b6b6b8, #444444, #111111);
	top: 0;
}
			
form:before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 5px;
	border-radius: 50%;
	left: 34%;
	top: -7px;
	box-shadow: 0 0 6px 4px #fff;
}
			
.inset {
	padding: 20px;
	border-top: 1px solid #19191a;
}
			
form h1 {
	font-size: 18px;
	text-shadow: 0 1px 0 black;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid black;
	position: relative;
}
			
form h1:after {
	content: "";
	display: block;
	width: 250px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 50px;
	pointer-events: none;
	transform: rotate(70deg);
	background: linear-gradient(50deg, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
}
			
label {
	color: white;
	display: inline-block;
	padding-bottom: 0;
	padding-top: 5px;
}
			
input[type=text],
input[type=password],
textarea {
	width: 100%;
	padding: 8px 5px;
	background: linear-gradient(#1f2124, #27292c);
	border: 1px solid #222;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	border-radius: 0.3em;
	margin-bottom: 20px;
	color:white;
}
			
label[for=remember] {
	color: white;
	display: inline-block;
	padding-bottom: 0;
	padding-top: 5px;
}

label[for=email] {
	color: white;
	display: inline-block;
	padding-bottom: 0;
	padding-top: 5px;
}
			
input[type=checkbox] {
	display: inline-block;
	vertical-align: top;
}

.p-container {
	padding: 0 20px 20px 20px;
}

.p-container:after {
	clear: both;
	display: table;
	content: "";
}

.p-container span {
	display: block;
	float: left;
	color: #0d93ff;
	padding-top: 8px;
}
			
input[type=submit], input[type=button]{
	padding: 5px 20px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 10px 10px rgba(255, 255, 255, 0.1);
	border-radius: 0.3em;
	background: #0184ff;
	color: white;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 13px;
}

input[type=submit]:hover {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -10px 10px rgba(255, 255, 255, 0.1);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
	background: #27292c;
}

/* OPTION */
.optionbox * {
	outline: 0;
}
.optionbox {
	display: inline-block;
	position: relative;
	cursor: default;
	font-size: 12px;
	line-height: 14px;
}
.optionbox .selected {
	height: 20px;
}
.optionbox .selected .selected-inner {
	white-space: nowrap;
	overflow: hidden;
	border: 1px solid #c0c0c0;
	padding: 3px 15px 3px 5px;
	background: rgba(0, 0, 0, 0) linear-gradient(#1f2124, #27292c) repeat scroll 0 0 url('../images/option-right.jpg') no-repeat center right;
	text-align: left;
}
.optionbox .options {
	border: 1px solid #c0c0c0;
	position: absolute;
	left: 0;
	background: white;
	z-index: 2;
	max-width: 550px;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
	top: 21px;
}
.optionbox .options a.option {
	padding: 3px 25px 3px 5px;
	display: block;
	color: #333333 !important;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	font-weight: normal;
}
.optionbox .options a.option:hover {
	background: #c0c0c0;
	color: white !important;
}
.optionbox .options a.option-selected {
	border: 0;
	background: none;
	height: auto;
	color: #333333 !important;
	font-weight: bold;
	padding: 3px 25px 3px 5px;
	display: block;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
}
.optionbox .options a.option-selected:hover {
	background: #c0c0c0;
}
.optionbox .options a.option-disabled {
	color: #aaaaaa !important;
	padding: 3px 25px 3px 5px;
	display: block;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
}
.optionbox .options a.option-disabled:hover {
	background: #eeeeee !important;
	color: #aaaaaa !important;
}
.optionbox .options a.option-selected-disabled {
	color: #aaaaaa !important;
	padding: 3px 25px 3px 5px;
	display: block;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
}
.optionbox .options a.option-selected-disabled:hover {
	background: #eeeeee !important;
	color: #aaaaaa !important;
}
			
#logo-slogan{
	color: #14446E;
    display: inline;
    font-family:  "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
	position:absolute;
	top:62px;
	left:100px;	
	color:white;
}
			
#logo-enea{
	display:inline;
	width:87px;
	height:87px;
}
table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: 800px;
}	

th {
	background: linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */

    /* 45 is really 360 - 45 */
    rotate(-90deg);

}


th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 3px 5px;
	position: relative;
	transition: all 300ms;
	color:black;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr:nth-child(odd) td {
	background: #f1f1f1;	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

/* tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

#trabajosPendientes tbody:hover td {
	text-shadow: 0 0 3px #aaa;

} */

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

.cerrar {
	
	float: right;
}

.myAccount {
	
	float: right;
	
}

.titulo{
	display:inline-block;
	white-space: nowrap;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#filtro{
padding: 20px 20px 20px 20px;	
}

#cssformulario{
width: 95%;	
}

/* Main menu */

#menu
{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
	background: #111;
	background: -moz-linear-gradient(#444, #111); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));	
	background: -webkit-linear-gradient(#444, #111);	
	background: -o-linear-gradient(#444, #111);
	background: -ms-linear-gradient(#444, #111);
	background: linear-gradient(#444, #111);
	-moz-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

#menu li
{
	float: left;
	padding: 0 0 10px 0;
	position: relative;
	line-height: 0;
}

#menu a 
{
	float: left;
	height: 25px;
	padding: 0 25px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px/25px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a
{
	color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
	color: #fafafa;
}

#menu li:hover > ul
{
	display: block;
}

/* Sub-menu */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;    
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;    
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);    
    background: -o-linear-gradient(#444, #111);	
    background: -ms-linear-gradient(#444, #111);	
    background: linear-gradient(#444, #111);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);	
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul ul
{
  top: 0;
  left: 150px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;  
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{   
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

#menu ul a
{    
    padding: 10px;
	height: 10px;
	width: 130px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}

*html #menu ul a /* IE6 */
{    
	height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
{    
	height: 10px;
}

#menu ul a:hover
{
    background: #0186ba;
	background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

#menu ul li:first-child > a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
}

#menu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec; 
    border-bottom-color: transparent; 	
}


#menu ul li:last-child > a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */
#causa{
    z-index: 500;
    left: 420.5px;
    top: 227px;
    opacity: 1;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#botonRechazo{    font-family: verdana, arial, sans-serif;
   font-size: 10pt;
   font-weight: bold;
   padding: 4px;
   background-color: #0184ff;
   color: white;
   text-decoration: none;
} 
#botonRechazo:link,
#botonRechazo:visited {
   border-top: 1px solid #cccccc;
   border-bottom: 2px solid #666666;
   border-left: 1px solid #cccccc;
   border-right: 2px solid #666666;
}
#botonRechazo:hover {
    border-bottom: 1px solid #cccccc;
   border-top: 2px solid #666666;
   border-right: 1px solid #cccccc;
   border-left: 2px solid #666666;
} 

.visible-scrollbar, .invisible-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}